header {
    color:aliceblue;
    background-color: #284b63;
    text-align: center;
}

h1 {
    font-size: 48px;
    margin: 0 0 16px 0;
}

h2 {
    font-weight: 300;
    font-size: 24px;
    margin: 0 0 16px 0;
}

label {
    display: block;
    width: 100%;
    color: #000000;
    background-color: #bbbbbb;
    border-radius: 5px;
}

input {
    display: block;
    width: 75%;
    border-radius: 5px;
}


select {
    display: inline;
    font-size: 1em;
    padding: .6em 1.4em .5em .8em;
    width: 50%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -webkit-appearance: none;
    appearance: none;
    background-color:  transparent;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082,0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
select::-ms-expand {
    display: none;
}

table {
    max-width: 900px;
    width: 100%;
    margin-top: 20px;
}
td {
    align-self: right;
    width: 100px;
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}



.container {
    margin: 0 auto; /*Content stays always at the center of the container indepedent of its size*/
    padding: 0 20px 0 20px;
    max-width: 900px;
}

.dropdowns{
    visibility: hidden;
}

.dropdown_labels {
    width: 25%;
    background-color: #ffffff;
    visibility: hidden;
}

.selector_label{
    display: block;
    width: 100px;
    
}

#contact {
    width: 100%;
    columns: 2;
    column-width: auto;
    
}

#parts_container {
    width: 100%;
    columns: 3;
    column-width: auto;
}

#labels_div{
    columns: 3;
    margin-top: 20px;
}

#billing{
    display: inline-block;
}

#info{
    
    display: inline-block;
}

#type{
    visibility: hidden;
}

#addToListBtn {
    width: 10%;
    display: inline;
    margin-left: 10%;
}

#quantity{
    display: inline;
    width: 5%;
    margin-right: 19%;
}

